<nb-card>
    <nb-card-header>
        Forgot Password?
    </nb-card-header>
    <nb-card-body>
        <div *ngIf=message class="alert-success">
            <span> {{message}}</span>
        </div>
        <div *ngIf=errorMessage class="alert-error">
            <span> {{errorMessage}}</span>
        </div>
        <input nbInput type="text" [(ngModel)]=email placeholder="Enter Email" style="margin:10px;">
        <button nbButton [disabled]= "!email" (click)="onForgot()" style="margin:10px;">Generate Temporary Password</button><br><br>
        <a routerLink='/'>Login</a>
    </nb-card-body>
</nb-card>