<nb-card size=medium>
    <nb-card-header>
        Assessments History
    </nb-card-header>
    <nb-card-body>
            <table width=100% border=1px>
                <tr>
                    <th>Assessment Name</th>
                    <th>Score</th>
                    <th>Assessment Taken At</th>
                    <th>Time to complete (Secs)</th>
                </tr>
                <tr *ngFor="let ct of scores">
                    <td>{{ct.testName}}</td>
                    <td>{{ct.score}}</td>
                    <td>{{ ct.startedTime | date :'short'}}</td>
                    <td>{{ct.timeTaken}}</td>
                </tr>
            </table>
    </nb-card-body>
</nb-card>