<nb-card class=dialog> 
    <nb-card-header>
        Assessment 
    </nb-card-header>
    <nb-card-body>
        <div style="width:400px; height:400px;" *ngIf=isStart>
            Instructions from your teacher
            <hr>
            <p>{{test.testInstructions}}</p>
        
            <br>
            <button nbButton style="float:right" (click)=startRun() *ngIf=isStart>Start</button>
        </div>
        <div style="width:100%; height:650px;" *ngIf=!isStart>
        <b [chronometer]=chronometer [format]=format [chronoEvents]=true (onChronoEvent)="onChronoEvent($event)"></b><br>
            <hr>
            <div id="mathTextDiv" style="width:400px; height:100px;">
                <mathjax [content]='curQn.question' class="box"></mathjax>
            </div><br><br>
            <div id=imageDiv style="width:400px; height:400px; align-content: center;" [hidden]=!curQn.hasImg>
                <img style="float:left; width:400px; height:auto;" [src]="curQn.image" [hidden]=!curQn.hasImg>
    
            </div><br [hidden]=!curQn.hasImg><br [hidden]=!curQn.hasImg>
            <div id="mathTextDiva" style="width:100%; height:auto;">
               <nb-radio-group [(ngModel)]=selectedAns>
                <nb-radio #radA value={{sOptA.val}}><mathjax [content]='sOptA.ans' class="box"></mathjax></nb-radio>
                <nb-radio #radB value={{sOptB.val}}><mathjax [content]='sOptB.ans' class="box"></mathjax></nb-radio>
                <nb-radio #radC value={{sOptC.val}}><mathjax [content]='sOptC.ans' class="box"></mathjax></nb-radio>
                <nb-radio #radD value={{sOptD.val}}><mathjax [content]='sOptD.ans' class="box"></mathjax></nb-radio>
                
                </nb-radio-group>

            </div><br><br>
            <div *ngIf=isComplete>
                <hr>
                <b>Score: {{finalScore}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Time Taken:{{timeTaken}}</b> 
            </div><br *ngIf=isComplete><br *ngIf=isComplete> 
            <button nbButton  [disabled]="loading" class="btn btn-primary" (click)="onDone()">
            
                {{btnTxt}}
            </button>
        </div>
    </nb-card-body>
</nb-card>
