<nb-card>
    <nb-card-header>Update Password</nb-card-header>
    <nb-card-body>
        <div>
            <span>{{message}}</span>
          </div>
        <input nbInput type="password" [(ngModel)]=password placeholder="Enter Password" required style="margin:10px;"><br><br>
        <input nbInput type="password" [(ngModel)]=confirmPassword placeholder="Confirm Password" required style="margin:10px;"><br><br>
        <button nbButton [disabled]="!password || !confirmPassword"  (click)="onUpdatePwd()" style="margin:10px;">Update Password</button><br><br>
        <a routerLink='/'>Login</a>
    </nb-card-body>
</nb-card>