<nb-card>
    <nb-card-header>
     <nb-icon icon='shopping-cart-outline' status='warning' ></nb-icon>  Questions Market Place
    </nb-card-header>
    <nb-card-body>

        <nb-card status=basic>
            <nb-card-body>
                <div style="width:100%;height:auto;">
                <nb-select style="margin:10px;" placeholder="System" status="info" [(ngModel)]="selectedSystem">
                    <nb-option value={{userSettings.eduSystem.indexOf(sys)}} *ngFor="let sys of userSettings.eduSystem">{{sys}}</nb-option>
                </nb-select>
                
                
                <nb-select style="margin:10px;" placeholder="Class" status="info" [(ngModel)]="selectedClass">
                    <nb-option value={{userSettings.grade.indexOf(cls)}} *ngFor="let cls of userSettings.grade">{{cls}}</nb-option>
                </nb-select>
                
                
                <nb-select style="margin:10px;" placeholder="Subject" status="info" [(ngModel)]="selectedSubject">
                    <nb-option value={{userSettings.subject.indexOf(sub)}} *ngFor="let sub of userSettings.subject">{{sub}}</nb-option>
                </nb-select>
               
                
                <button nbButton style="margin:10px;" status="primary" (click)=getProducts()>
                    Find Products
                </button>
                </div>
                <div> <a routerLink="/policyPage"  rel="noopener noreferrer" target="_new" class ='a-link-normal a-nowrap'  >Policy</a></div>
            </nb-card-body>
        </nb-card>
        <nb-card >
            <nb-card-body>
                <nb-list>
                    <nb-list-item *ngFor="let prod of products">
                        <div style="width: 100%; height: 160px;">
                            <div style="margin: 5px; width:80px; height:100%; background-size: contain; float: left;">
                                <img style="float:left; width:auto; height:100px;" [src]=prod.productImg ><br>
                            </div>

                            <div style="margin: 5px; width:50%; height: 100%; float: left;">
                                <span style="font-size: 26px; font-weight: bold;">{{prod.productTitle}}</span><br><br>
                                <span style="font-size: 18px;">{{prod.productDesc}}</span><br><br>
                                <span style="font-size: 20px; font-weight: bold;">&#x20B9; {{prod.listingPrice}}</span>
 
                            </div>
                                            
                            <div style="margin: 5px; width:30%; height: 100%; float:left;">
                                <button nbButton status=warning (click)=buyNow(prod.productId)  >Buy Now </button><br><br>
                                <span style="font-size: 14px; font-weight: bold;">Author: {{prod.authorName}}</span><br>
                                {{prod.authorDetail}}
                            </div>
                        </div>
                    </nb-list-item>
                </nb-list>
            </nb-card-body>
        </nb-card>
    </nb-card-body>
</nb-card>
<form #form ngNoForm
id="nonseamless" 
method="post" 
name="redirect" 
action="https://secure.ccavenue.com/transaction/transaction.do?command=initiateTransaction">
  <input type="hidden" id="encRequest" name="encRequest" value="{{encRequestRes}}">
  <input type="hidden" name="access_code" id="access_code" value="{{accessCode}}">
</form>


