<nb-card class=dialog [nbSpinner]="loading">
    <nb-card-header>Create Question</nb-card-header>
    <nb-card-body>
    
        <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
        <input nbInput #autoInput fullWidth type="text" [(ngModel)]="chapter" placeholder="Chapter Name" [nbAutocomplete]=auto>
        <nb-autocomplete #auto (selectedChange)="onSelectionChange($event)">
            <nb-option *ngFor="let option of uniqChapters" [value]="option">
              {{ option }}
            </nb-option>
        </nb-autocomplete><br><br>
        <textarea style="width:100%;" rows=5 [(ngModel)]="question" placeholder="Question"></textarea><br><br>
        <input nbInput fullWidth type="text" [(ngModel)]="a" placeholder="Option A"><br><br>
        <input nbInput fullWidth type="text" [(ngModel)]="b" placeholder="Option B"><br><br>
        <input nbInput fullWidth type="text" [(ngModel)]="c" placeholder="Option C"><br><br>
        <input nbInput fullWidth type="text" [(ngModel)]="d" placeholder="Option D"><br><br>
        Choose the correct option<br>
        <nb-select fullWidth bindLabel="option" placeholder="Correct Answer" [(ngModel)]="selectedChoice">
            <nb-option value= "{{choices.indexOf(opt)}}" *ngFor="let opt of choices">{{opt}}</nb-option>
        </nb-select><br><br>
        **Change Mark according to the nature of the question. Mark will also determine <br>
         &nbsp;&nbsp; the time of question. 1 = 60 sec, 0.5=30 sec, 2=120 sec etc.<br>
        <input nbInput fullWidth class="control-basic" type="text" [(ngModel)]="mark" placeholder="Mark"><br><br>
        <button nbButton [disabled]="loading" class="btn btn-primary" type="submit" (click)="onSubmit()">
            
            Submit
        </button>&nbsp;&nbsp;
        <button nbButton [disabled]="loading" class="btn btn-primary" type="submit" (click)="close()">
            
            Close
        </button>
        <div *ngIf="error" class="alert alert-success mt-3 mb-0">{{success}}</div>
    </nb-card-body>
</nb-card>