<nb-layout>

  <nb-layout-header fixed>
    <img style="width: auto; height:60px;" src='assets/img/cassadara.png'>
    <div style="width:100%;">
    <div *ngIf="currentUser"  style="float:right;" >
     <nb-user size="large" [name]='currentUser.displayName' [title]='currentUser.role' [nbContextMenu]="userMenu"></nb-user> 
  </div>
</div>
  </nb-layout-header>

  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>

  <nb-layout-footer fixed>
  <!-- Insert footer here -->
  </nb-layout-footer>

</nb-layout>